<!DOCTYPE html>
<html lang="es">
<body>

    {% extends "base.html" %}

    {% block content %}
    <form method="GET" class="d-none d-sm-inline-block form-inline mr-auto">

        <div class="input-group">
            <p>buscador</p>
            <input type="text" class="form-control bg-ligth border-0 small" placeholder="Buscar..." name="buscar" value="">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <p>Buscar</p>
                </button>
            </div>
        </div>
    </form>

    <h2>Tareas:</h2>
        <table class="table">
            <thead>
                <th>Tarea</th>
                <th>Fecha limite</th>
                <th></th>
            </thead>
            <tbody>
                {% for task in tareas%}
                {% if task.user == request.user %}
                <tr>
                    <td>{{ task.task_name }}</td>
                    <td>
                        {% if task.is_past_due %}
                        <p class="text-danger">tarea vencida desde: {{ task.expiration_day }}</p>
                        {% else %}
                        {{ task.expiration_day }}
      
                        {% endif %}
      
                    </td>
                    <td><a href="tarea/{{ task.id }}">Detalle</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</body>
</html>
